name: Hadolint

on:
  pull_request:
    paths:
      - "Dockerfile*"
      - ".github/workflows/hadolint.yml"
  push:
    branches:
      - main
      - master
    paths:
      - "Dockerfile*"
      - ".github/workflows/hadolint.yml"

permissions:
  contents: read

jobs:
  hadolint:
    name: Run hadolint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Hadolint
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile
          config: .hadolint.yaml